.product-view {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.product-img {
    width: 33%;
    height: 225px;
    float: left;
}
  
.product-info {
    float: right;
    padding-left: 15px;
    width: 67%;
}

.product-title {
    font-weight: lighter;
    width: 67%;
    display: block;
    text-decoration: underline;
    text-decoration-color: #666;
}

.product-body {
    display: inline;
}

.product-desc {
width: 67%;
float: left;
}

.form-group {
    width: 33%;
    padding: 5px;
    margin-top: -20px;
    float: right;
}

.form-item {
    display: block;
    width: 100%;
    padding-bottom: 8px;
}

.range {
    width: 100%;
    display: block;
    margin-top: 8px;
}

.variants {
    width: 100%;
    display: block;
    margin-top: 8px;
}

.btn-block {
    display: block;
    width: 100%;
}

.product-price {
    display: block;
    width: 100%;
}

.price-tag {
    float: right;
}