.nav {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #000;
  }
  
  .nav-item {
    position: relative;
    background-color: #fff;
    width: 100%;
    border-right: 1px solid #000;
  }
  
  .nav-link {
    padding: 12px 18px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    position: relative;
    box-sizing:border-box;
    text-align: center;
    width: 100%;
  }
  
  .nav-link:hover {
    color: #3cc8af;
  }
  .nav-item:last-child {
    border-right: 0px;
  }
  
  .dropdown {
    margin-left: -1px;
    margin-right: -1px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #fff;
    border: 1px solid #000;
  }
  
  .dropdown .nav-link {
    display:block;
    border-bottom: 1px solid #000;
    border-right: 0px;  
  }
  .dropdown:last-child {
    border-bottom: 0px;
    
  }
  
  
  .submenu:hover .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  
  