.nav {
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #ddd;
}
  
.nav-item {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  border-right: 1px solid #ddd;
}

.nav-link {
  padding: 12px 18px;
  display: inline-block;
  color: #000;
  text-decoration: none;
  position: relative;
  box-sizing:border-box;
  text-align: center;
  width: 100%;
}
  
.nav-link:hover {
  color: #3cc8af;
}

.nav-item:last-child {
  border-right: 0px;
}

.dropdown {
  margin-left: -1px;
  margin-right: -1px;
  left: 0;
  right: 0;
  top: 100%;
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.dropdown .nav-link {
  display:block;
  border-bottom: 1px solid #ddd;
  border-right: 0px;  

}

.dropdown:last-child {
  border-bottom: 0px;
  
}

.submenu:hover .dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.cart-submenu {
  /* flex-shrink: 8; */
  flex-grow: 8;
}